/.metadata/
FaceFirmware/Debug/*
.settings
.launches
.jxbrowser-data/*
RemoteSystemsTempFiles/*
FaceFirmware/targetConfigs/*
GameMasterFirmware/Debug/*
GameMasterFirmware/Debug__GNU/*
GameMasterFirmware/targetConfigs/*